body {
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
    margin: 0 0;
    color: white;
    font-size: 6em;
    text-shadow: 0.5px 0.5px #d3d3d3;
}

h2 {
    color: white;
    text-shadow: 0.5px 0.5px #d3d3d3;
}

h3 {
    margin: 5px;
    color: white;
    text-shadow: 0.5px 0.5px #d3d3d3;
}

p {
    font-family: 'Merriweather', serif;
}

input {
    text-align: center;
}

button {
    margin: 5px;
}

.hidden {
    opacity: 0;
}

.hide {
    animation: fadeOut 600ms;
    animation-fill-mode: forwards;
}

.show {
    animation: fadeIn 600ms;
    animation-fill-mode: forwards;
}

.container {
    margin: 0 auto;
    padding-top: 10%;
    height: 100px;
}

#firstSec {
    text-align: center;
    height: 800px;
    width: 100%;
    background-color: #c9ced6;
    background-image: url("images/main.jpeg");
    background-size: cover;
}

#containerOne {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #51acd6;
    height: 100px;
    width: 300px;
    border-radius: 15px;
}

#secondSec {
    display: flex;
    justify-content: center;
    height: 800px;
    width: 100%;
    background-color: #739dcd;
}

#containerTwo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 80%;
}

.promiseP {

}

#boxOne {
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
}

#plane {
    height: 200px;
    width: 80%;
}

#boxTwo {
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
}

#tree {
    height: 200px;
    width: 80%;
}

#boxThree {
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
}

#plant {
    height: 200px;
    width: 80%;
}

#thirdSec {
    height: 800px;
    width: 100%;
    background-color: #b8ccea;
}

#containerThree {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 100%;
}

#officePic {
    height: 600px;
    width: 800px;
    border-radius: 15px;
}

#missionP {
    width: 400px;
    color: white;
    font-size: 2em;
    text-shadow: 0.5px 0.5px #d3d3d3;
}

#fourthSec {
    height: 800px;
    width: 100%;
    background-color: #e9dddd;
    display: flex;
}

#containerFour {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#officePicTwo {
    justify-content: center;
    height: 700px;
    width: 1000px;
    align-items: center;
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
